body{
  background-color: #36393F !important;
}

.container{
  font-family: 'Raleway', sans-serif;
}

#mainNav .nav-link{
  color: white;
  margin-top: 10px;
  font-weight: 500;
}

#mainNav .nav-link:hover{
  color: #4acaa8;
}

.card-link{
  color: black;
}

.card-link:hover{
  color: #4acaa8;
}

#intro{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

#intro-text{
  font-size: 5rem;
  font-weight: 200;
}

#about-text{
  color: white;
}

body hr{
  border-width: 2px;
  border-color: #4acaa8;
}

body h2{
  font-size: 3rem;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

body h3 a{
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  font-weight: 200;
}

body h3 a:hover{
  font-size: 2.5rem;
  font-weight: 300;
  color: #4acaa8;
  text-decoration: none;
  font-weight: 200;
}


#pfp{
  border: 2px solid #4acaa8;
  margin-left: 25%;
  padding: 5px 5px 5px 5px;
  width: 75%;
  height: auto;
}

.section{
  margin-bottom: 250px;
}

.end{
  text-align: center;
  color: white;
}